.wrapper {
  padding: 20px;
}

.container {
  padding: 20px;
}

.container__form {
  display: flex;
  justify-content: space-between;
}

.form-group {
  width: 500px;
  margin: 10px 0;
  padding: 0 10px;
}

.input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;

  &:focus {
    border-color: var(--primary-color);
  }
}

.error-input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid red;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;

  &:focus {
    border-color: var(--primary-color);
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
