.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efeded;
    padding-bottom: 20px;
    padding-top: 20px;
}

.content {
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    gap: 20px;
}