  .conatiner {
    width: 1310px;
    padding: 20px 40px;
    background-color: #f9f9f9;
    margin: 0 auto;
  }
  
  .conatiner_table {
    display: flex;
    width: 1230px;
    max-width: 0 auto;
  }

  @media only screen and (max-width: 100em) {
    .conatiner {
      width: 1110px;
      padding: 20px 40px;
    }
  
    .conatiner_table {
      width: 1070px;
    }
  }
  