.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.footer-content {
  width: var(--default-width);
  display: flex;
  flex-direction: row;
  justify-content:  space-between;
}

.footer-logo-information {
}

.footer-nav {
}

.footer-contact {
}

.footer-logo {
  width: 202px;
  height: 45px;
  &:hover {
    cursor: pointer;
  }
}
