.warpper_dashboard {
  width: 100%;
  display: flex;
}

.container_dashboard {
  width: var(--default-width);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.container_dashboard--Sidebar {
  width: 300px;
}

.container_dashboard--Content {
  width: 1310px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (max-width: 100em) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .content {
    width: 1400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
