.warpper_dashboard {
  width: 100%;
  display: flex;
}

.container_dashboard {
  width: var(--default-width);
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.container_dashboard--Sidebar {
  width: 300px;
}

.container_dashboard--Content {
  width: 1310px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 100em) {
  .container_dashboard {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .container_dashboard--Content {
    width: 1100px;
    display: flex;
    flex-direction: column;
  }
}
