.wrapper {
  width: 100%;
  border-top: solid 1px #e0e0e0;
}

.conatiner {
  display: flex;
  width: var(--default-width);
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 20px;
}

.conatiner_table {
  width: 1310px;
  padding-left: 30px;
}
@media only screen and (max-width: 100em) {
  .conatiner {
    width: 1400px;
  }

  .conatiner_table {
    width: 1100px;
    padding-left: 30px;
  }
}
